{% extends 'base.html' %}

{% load static %}

{% block content %}

<section class="jumbotron text-center">
  <div class="container">
      <h1>IP/MAC Validator</h1>
      <p class="lead text-muted">Validate IP and MAC addresses using Regular Expression. You can check whether ip/mac addresses are valid or not.</p>
      <img class="img-fluid" src="{%static 'mac_address.jpg' %}" width="600" /><p><br/>
       <a href="mailto:contact@gmail.com" class="btn btn-primary my-2">Email me</a>
       <a href="" class="btn btn-primary my-2">Generate Password</a>
      </p>
  </div>
</section>

{% endblock %}
