
<!DOCTYPE HTML> 
<html> 

<center> 

	<body style="text-align:center;"> 

		<form method="post">
		{% csrf_token %}
		Name: <input type="text" name='name'>
		<!-- <button onclick="GFG_Fun()" type="submit">Submit</button> -->
	
		

		<button onclick="GFG_Fun()"> 
			click here 
		</button> </form>
	
		<script> 
			
			var addr = {{data 
			up.innerHTML = 
			"Click on the button to validate the IP Address.<br>" 
			+ addr; 

			function GFG_Fun() { 
				down.innerHTML = 
/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/.test(addr); 
			} 
		</script> 
		<h5>You have entered {{data}}</h5>
	</body> 
</center> 

</html> 
